.navbar {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  padding: 15px 30px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  z-index: var(--z-navbar); 
}

.logo {
  font-weight: 600;
  font-size: 1.5rem;
  color: var(--primary);
}

ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

a {
  color: var(--text-main);
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  color: var(--primary);
}

.chatbot-shell {
  z-index: var(--z-chatbot);
}

.hero {
  position: relative;
  z-index: var(--z-hero);
}